
.nutrition-info {
    height: 620px;
    width: 260px;
    flex-flow: column wrap;
    
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .nutrition-info {
        width: 22%;
    }
}