
.nav {
    width: 80%;
    height: 90px;
    margin-left: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header-btn {
    border: none;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    background: transparent;
    
}


@media all and (min-width: 1024px) and (max-width: 1439px) {
    .header-btn {
        font-size: 17px;
        
    }

}