
.main-info {
    width: 840px;
    height: 620px;
    margin-left: 107px;
    margin-right: 31px;
    display: flex;
    flex-flow: row wrap;
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .main-info {
        margin-left: 50px;
        width: 65%;
    }
}